{% extends 'entities/index.html' %}
{% load static %}

{% block title %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 style="margin-top: 4.5rem">Clients</h1>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-body">Clients</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'clients' %}">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-body">Products</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'products' %}">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-body">Shipments</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="{% url 'shipments' %}">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-body">Customer Service</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock title %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="mb-4">
                    <button class="btn btn-secondary" id="btnNavbarSearch" type="button">
                        <a class="dropdown-item" href="{% url 'clientForm' %}">Create</a>
                    </button>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Clients DataTable
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Segment</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in clients %}
                                    <tr>
                                        <td>{{ c.id }}</td>
                                        <td>{{ c.name }}</td>
                                        <td>{{ c.segment }}</td>
                                        <td>{{ c.email }}</td>
                                        <td>
                                            <button class="btn btn-secondary" id="btnNavbarSearch" type="button" class="fas fa-edit">
                                                <a class="dropdown-item" href="{% url 'clientUpdate' c.id %}">Edit</a>
                                            </button>
                                            <button class="btn btn-secondary" id="btnNavbarSearch" type="button" class="fas fa-trash">
                                                <a class="dropdown-item" href="{% url 'clientDelete' c.id %}">Delete</a>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}